<link rel="stylesheet" type="text/css" href="/css/style.css" />

<div class="nav">
      <ul>
        <li class="feed"><a href="/feed">Feed</a></li>
        <div class = "dropdown">
          <li class="myprofile"><a class="active" href="#">Profile</a></li>
          <div class="dropdown-content">
            <a href="/myprofile">My Foods</a>
            <a href="/logout">Logout</a>
          </div>
        </div>
        <div class = "dropdown">
          <li class="discover"><a href="#">Discover</a></li>
          <div class="dropdown-content">
            <a href="/searchuser">Foodies</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
      </ul>
    </div>

    <h1>Edit Profile</h1>


   	<form ref='uploadForm'  id='uploadForm' action="/editprofile" method='post' encType="multipart/form-data">

   		<div>
		  <p>Select New Profile Picture<br>
		 	<input type="file" id = "myFile" name = "imagefile" accept="image/*" onchange="loadFile(this)"><br>
			<img name = 'profilePic' id="profilePic" style="display: none;"/>
		  </P>
		</div>

   		<div>
		  <p>Name<br>
		  <input type="text" name="fullname" value = '<%= fullname %>'> </p>
		</div>

	   	<div>
		  <p>Bio<br>
		  <textarea type="text" name="bio"><%=bio%></textarea></p>
		</div>

		<p><button type="submit">Update Profile</button></p>
	</form>


<script>
    var loadFile = function(input) {
   		 if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          var output = document.getElementById('profilePic');
         	output.src = e.target.result;
         	var binarystr = e.target.result;
         	output.style.display = "block";
        };
        reader.readAsDataURL(input.files[0]);
      }
  	};
</script>