<link rel="stylesheet" type="text/css" href="/css/style.css" />

<h1>Edit Profile</h1>

   	<form ref='uploadForm'  id='uploadForm' action="/editprofile" method='post' encType="multipart/form-data">

   		<div>
		  <p>Select New Profile Picture<br>
		 	<input type="file" id = "myFile" name = "imagefile" accept="image/*" onchange="loadFile(this)"><br>
			<img name = 'profilePic' id="profilePic" style="display: none;"/>
		  </P>
		</div>

   		<div>
		  <p>Name<br>
		  <input type="text" name="fullname" value = '<%= fullname %>'> </p>
		</div>

	   	<div>
		  <p>Bio<br>
		  <textarea type="text" name="bio"><%=bio%></textarea></p>
		</div>

		<p><button type="submit">Update Profile</button></p>
	</form>

<a href="/logout">Logout</a>

<script>
    var loadFile = function(input) {
   		 if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          var output = document.getElementById('profilePic');
         	output.src = e.target.result;
         	var binarystr = e.target.result;
         	output.style.display = "block";
        };
        reader.readAsDataURL(input.files[0]);
      }
  	};
</script>