	<head>
   	 	<title>Feed</title>
   	 	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	</head>
	<div class="nav">
      <ul>
        <li class="feed"><a href="#">Feed</a></li>
        <div class = "dropdown">
          <li class="myprofile"><a class="active" href="#">Profile</a></li>
          <div class="dropdown-content">
            <a href="/myprofile">My Foods</a>
            <a href="/logout">Logout</a>
          </div>
        </div>
        <div class = "dropdown">
          <li class="discover"><a href="#">Discover</a></li>
          <div class="dropdown-content">
            <a href="/searchuser">Foodies</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
      </ul>
    </div>


<h1>Welcome, <%= username %></h1>
  <form method="post">
	  <p><button type="submit" name = "act" value = "myProfile">My Profile</button></p>
	  <button><a href="/logout">Logout</a></button>
	
  </form>

