<!DOCTYPE html>
<html>
	<head>
   	 	<title>Followers</title>
      <script src="/js/jquery.min.js"></script>
   	 	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	</head>

	<body>

    <div class="nav">
      <ul>
        <li class="feed"><a href="#">Feed</a></li>
        <div class = "dropdown">
          <li class="myprofile"><a href="#">Profile</a></li>
          <div class="dropdown-content">
            <a href="/myprofile">My Foods</a>
            <a href="/logout">Logout</a>
          </div>
        </div>
        <div class = "dropdown">
          <li class="discover"><a class="active" href="#">Discover</a></li>
          <div class="dropdown-content">
            <a href="/searchuser">Foodies</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
      </ul>
    </div>
    <p id = "username"><%=username%> <%=follow%></p>
    <p>
      <% for(var i = userprofile.length - 1; i >= 0; i--) {%>
        <a href= '<%= userprofile[i] %>' ><div id="result-box" >
              <img id="searchProfilePic" src= '<%= userpic[i] %>' >
                <p id = "searchUserInfo"><h2 id = "searchUsername">  <%=allusername[i]%> </h2> 
                <p id = "searchFullname"> <%=fullname[i]%> </p></p>
              </div></a>
      <% } %>
    </p>
  </body>
</html>



