<!DOCTYPE html>
<html>
	<head>
   	 	<title>My Profile</title>
   	 	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	</head>

	<body>

    <div class="nav">
      <ul>
        <li class="feed"><a href="#">Feed</a></li>
        <div class = "dropdown">
          <li class="myprofile"><a class="active" href="#">Profile</a></li>
          <div class="dropdown-content">
            <a href="#">My Foods</a>
            <a href="/logout">Logout</a>
          </div>
        </div>
        <div class = "dropdown">
          <li class="discover"><a href="#">Discover</a></li>
          <div class="dropdown-content">
            <a href="/searchuser">Foodies</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
      </ul>
    </div>


    <p id = "username"> <%= username %> </p>
    <img name = 'profilePic' id="profilePic" src = '<%= profilePicSrc %>'/>    
    <p id = "fullname"> <%= fullname %> </p>
    <p id = "myBio"> <%= bio %> </p>
    <form method="post">
      <p>
        <button type="submit" name = "act" value = "updateProfile">Edit Profile</button>
        <button type="submit" name = "act" value = "newPost">Upload New Post</button>
      </p>
    </form>
    <a href = "/followers/<%=username%>"><div id = "followerStatus">
      <p> Followers: 
      <a  id = "followers"><%= followers %> </a> </p>
    </div></a>
     <a href = "/following/<%=username%>"> <div id ="followingStatus"> 
      <p> Following: 
      <a id = "following"><%= following%> </a> </p>
    </div> </a>
    <p>
      <% for(var i = posts.length - 1; i >= 0; i--) {%>
        <div class = "responsive">
          <a href = '<%= postPic[i]%>'> <img name = 'postPic' id="postPic" src = '<%= posts[i] %>' value = '<%= postID[i]%>'/></a>
        </div>
      <% } %>
    </p>

  </body>
</html>



