<!DOCTYPE html>
<html>
	<head>
   	 	<title>Post</title>
       <script src="/js/jquery.min.js"></script>
      <script src="/js/postpage.js"></script>
   	 	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	</head>

	<body>

    <div class="nav">
      <ul>
        <li class="feed"><a href="#">Feed</a></li>
        <div class = "dropdown">
          <li class="myprofile"><a href="#">Profile</a></li>
          <div class="dropdown-content">
            <a href="#">My Foods</a>
            <a href="/logout">Logout</a>
          </div>
        </div>
        <div class = "dropdown">
          <li class="discover"><a class="active" href="#">Discover</a></li>
          <div class="dropdown-content">
            <a href="/searchuser">Foodies</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
      </ul>
    </div>


    <p id = "username"> <%= username %> </p>
    <img name = 'postpage' id="postpage" src = '<%= postPicSrc %>' class = '<%= postID %>'/> 
    <div id = 'likes'>
      <p>
      <div id='heart' class='<%= heartBtnClass%>'></div>
      <div id ='numlikes'> <%=likenum%> </div>
      </p>
    </div>

  </body>
</html>



