<!DOCTYPE html>
<html>
	<head>
   	 	<title>User Profile</title>
      <script src="/js/jquery.min.js"></script>
      <script src="/js/othersprofile.js"></script>
      <link rel="stylesheet" type="text/css" href="/css/style.css" />
	</head>

	<body>

    <div class="nav">
      <ul>
        <li class="feed"><a href="/feed">Feed</a></li>
        <div class = "dropdown">
          <li class="myprofile"><a href="#">Profile</a></li>
          <div class="dropdown-content">
            <a href="/myprofile">My Foods</a>
            <a href="/favorites">My Favorites</a>
            <a href="/logout">Logout</a>
          </div>
        </div>
        <div class = "dropdown">
          <li class="discover"><a class="active" href="#">Discover</a></li>
          <div class="dropdown-content">
            <a href="/searchuser">Foodies</a>
          </div>
        </div>
      </ul>
    </div>


    <p id = "username"><%=username%></p>
    <img name = 'profilePic' id="profilePic" src = '<%= profilePicSrc %>'/>    
    <p id = "fullname"> <%= fullname %> </p>
    <p id = "myBio"> <%= bio %> </p>
      <p>
        <button name = "act" id = "followBtn"><%=followBtn%></button>
      </p>
     <a href = "/followers/<%=username%>"><div id = "followerStatus">
      <p> Followers: 
      <a  id = "followers"><%= followers %> </a> </p>
    </div></a>
     <a href = "/following/<%=username%>"> <div id ="followingStatus"> 
      <p> Following: 
      <a id = "following"><%= following%> </a> </p>
    </div> </a>
    <div id = "posts">
      <% for(var i = posts.length - 1; i >= 0; i--) {%>
        <div class = "responsive">
          <a href = '<%= postPic[i]%>'><img name = 'postPic' id="postPic" src = '<%= posts[i] %>' value = '<%= postID[i]%>'/></a>
        </div>
      <% } %>
    </div>

  </body>
</html>



