<!DOCTYPE html>
<html>
	<head>
   	 	<title>Discover Foodies</title>
      <script src="js/jquery.min.js"></script>
      <script src="js/searchuser.js"></script>
   	 	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	</head>

	<body>

    <div class="nav">
      <ul>
        <li class="feed"><a href="/feed">Feed</a></li>
        <div class = "dropdown">
          <li class="myprofile"><a href="#">Profile</a></li>
          <div class="dropdown-content">
            <a href="/myprofile">My Foods</a>
            <a href="/favorites">My Favorites</a>
            <a href="/logout">Logout</a>
          </div>
        </div>
        <div class = "dropdown">
          <li class="discover"><a class="active" href="#">Discover</a></li>
          <div class="dropdown-content">
            <a href="/searchuser">Foodies</a>
          </div>
        </div>
      </ul>
    </div>

    <div class = "search">
     <input id="searchBox" type="text" class="form-control"  placeholder="Search for usernames..." >
    </div>
    <div id="results">
    </div>
  </body>
</html>



