html {
  font: 1em "Arial Rounded MT", "Optima", "Arial";
}

h1 {
  cursor: default;
  font: 3em "Arial Rounded MT Bold", "Optima", "Arial";
  text-align: center;
}

p {
  cursor: default;
}

form {
  text-align: center;
}

#profilePic {
    object-fit: cover;
    width: 10em;
    height: 10em;
    border-radius: 5em;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: block;
    margin: 0 auto;
}

#myBio {
  text-align: center;
}

#output {
	height: 20em;
}
 
 
.acidjs-rating-stars input
{
    display: none;
}
 
.acidjs-rating-stars
{
    unicode-bidi: bidi-override;
    direction: rtl;
}
 
.acidjs-rating-stars label
{
    color: #ccc;
}
 
.acidjs-rating-stars label:hover,
.acidjs-rating-stars label:hover ~ label
{
    color: #ffeecc;
}
.acidjs-rating-stars label::before
{
    content: "\2605";
    width: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 20px;
}
 
.acidjs-rating-stars input:checked ~ label
{
    color: #f5b301;
}
 
.acidjs-rating-disabled
{
    opacity: .50;
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}
